<style>
    p1 {color: black; font-size: 120%;}
    p2 {color: cadetblue; font-size: 120%;}
</style>

@{
    ViewData["Title"] = "About FisherLink";

}
<h2>@ViewData["Title"]</h2>
<div>
    <p1>
        This project was implemented using ASP.NET Core and MVC. The goal was to create a web application for student and enrollment information. <br>
        The project implements local and Facebook authentication along with authorization.<br><br>
    </p1>
</div>

<div>
    <p2>
        Foundations of Business Information Systems<br>
        Developed By: (list of names)
        <br><br><br>
    </p2>
</div>

<div>
    <img src="~/images/arial_view.jpg">
</div>