@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

    <address>
        7 Natale Way<br />
        Farmingdale, NJ 07742<br />
        <abbr title="Phone">P:</abbr>
        732.682.3965
    </address>
    <address>
        <strong>Support:</strong> <a href="mailto:matera@optonline.net">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@optonline.net">Marketing@example.com</a>
    </address>
